<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Work</title>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="row">
        <div class="col-sm-8">
          <div class="jumbotron">
            <h1>Work</h1>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="well">
            <% projects.forEach(function(thingy) { %>
            <li>
              <strong><%= thingy.name %></strong>
            </li>
            <% }); %>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>